*
{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family:'poppins',sans-serif;
}
body
{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
   
 }
 .calculator
 {
    border:1px solid rgb(32,23,42);
    padding:20px;
    border-radius:16px;
    background-color:rgb(23,32,42);
    box-shadow:15px 15px 8px;
    color:black;
    height:70%;
    width:30%;
 } 
 input 
 {
     margin:15px;
     border:none;
     padding:24px;
     width:320px;
     font-size:50px;
     text-align:right;
     cursor:line;
     height:75px;
     width:93.5%;
     
      
 }                            
 input::placeholder
 {
    color:rgb(23,32,42);
  } 
 button
 {
    border:none;
    width:18%;
    height:50px;
    margin:12px;
    border-radius:50%;
    background:transparent;
    color:white;
    font-size:25px;
    box-shadow:-5px -5px 2px;
    
    
 }
 button:hover
 {
   background-color:pink;
   color:black;
 }
